doctype html
html(lang='en')
  head
    title Simple Bookstore
    script(type='text/javascript').
      foo = true;
      bar = function () {};
      if (foo) {
      bar(1 + 5)
      }
  body
    h1 Simple Bookstore
    block content
    block foot
      #footer
        p footer message goes here
